<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>Menu Buttons - Custom CSS</title>
  <link rel="stylesheet" href="/static/css/style.css">
  <script src="/static/js/vv.js"></script>

</head>
<body class="background">
  <div class="menu-container">
    <h1 class="menu-title">Menu</h1>
    <button class="menu-button view-product" onclick="viewProducts()">View Product</button>
    <button class="menu-button add-product" onclick="addProduct()">Add Product</button>
    <button class="menu-button update-product" onclick="updateProduct()">Update Product</button>
    <button class="menu-button delete-product" onclick="deleteProduct()">Delete Product</button>
    <button class="menu-button logout">Log-out</button>
  </div>


 </style>
</body>
</html>
